<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;" ng-controller="AlarmSettingsCtrl">
    <div class="col w-lg lt">
        <div class="vbox">
            <div class="wrapper">
                <div class="app-box-push clearfix">
                    <form name="form" class="form-validation">
                        <div class="form-group">
                            <label class="col-sm-10">严格模式</label>
                            <div class="col-sm-2">
                                <label class="i-switch bg-info m-t-xs m-r">
                                    <input type="checkbox" ng-checked="alarmSettings.strictMode" ng-click="openAuth()">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <div class="app-push-appName">超时时间<span class="has-error">*</span></div>
                        <input class="form-control" type="text" ng-model="alarmSettings.timeout">
                        <div class="app-push-appName">接口报错阈值(设置格式 秒/报错次数，如 60/10)<span class="has-error">*</span></div>
                        <input class="form-control" type="text" placeholder="秒/报错次数" ng-model="alarmSettings.errorThreshold">
                        <div class="" style="margin-top: 15px">
                            <button class="btn  btn-info btn-block " ng-disabled="form.$invalid" ng-click="create()">确定
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>