<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;"
     ng-controller="AddServerCtrl">
    <div class="col w-lg lt">
        <div class="vbox">
          <div class="popuptext" ng-if="popupshow">
            <div class="popup" >
                <div class="mytext2">提示</div>
                <div class="mytext1">
                  {{messages}}
                </div>
                <div class="client-mybtn" ng-click="popupshide()">
                   <p>我知道</p>
                </div>
            </div>
          </div>
          <div class="popuptext" ng-if="popupshow2">
            <div class="popup" >
                <div class="mytext2">提示</div>
                <div class="mytext1">
                  {{messages}}
                </div>
                <div class="server-mybtn">
                  <a href="/#/server/list"> <p>返回列表</p> </a>
                </div>
                <div class="server-mybtn" ng-click="getAppKey()">
                 <p>新建主机</p>
                </div>
            </div>
          </div>
            <div class="wrapper">
                <div class="app-box-push">
                    <a href="/#/server/list"
                       class="btn btn-sm btn-danger btn-options pull-right">返回
                    </a>
                    <form name="form" class="form-validation">
                        <div class="app-push-appName">应用名称<span class="has-error">*</span></div>
                        <input class="form-control"
                               type="text"
                               placeholder="请输入应用名称(必须为2位以上的汉字)"
                               ng-model="params.name">
                         <div class="app-push-appName">应用代号<span class="has-error">*</span></div>
                         <input class="form-control"
                                type="text"
                                placeholder="请输入应用代号(必须为2位以上的字母)"
                                ng-model="params.serial">
                          <div class="app-push-appName">主机组<span class="has-error">*</span></div>
                          <input class="form-control"
                                 type="text"
                                 placeholder="请输入主机组(必须为2位以上的字母)"
                                 ng-model="params.hostGroup">
                        <div class="app-push-appName">应用描述</div>
                        <textarea class="form-control"
                                  rows="3"
                                  placeholder="请输入应用描述"
                                  ng-model="params.description">
                        </textarea>
                        <div class="app-push-save-btn">
                            <button  class="btn btn-lg btn-info btn-block "
                                     ng-click="createApp(params)">创建应用</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <script type="text/ng-template" id="myModalContentSuccess.html">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">提示</span>
                <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="mod-line row">
                    <p class="text-center" style="font-size: 20px;">创建应用成功!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info pull-left" ng-click="ok()">新建主机</button>
                <button type="button" class="btn btn-default pull-right" ng-click="cancel()">返回应用列表</button>
            </div>
        </div>
    </script>
</div>
