<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;"
  ng-controller="apiDetailCtrl">
  <div class="col w-lg lt">
      <div class="vbox">
          <div class="wrapper">
              <div class="app-box-push clearfix">
                  <a href="#/server/appList/{{apidetail.parentAppkey}}"
                     class="btn btn-sm btn-danger btn-options pull-right">返回
                  </a>
                  <form name="form" class="form-validation">
                      <div class="app-push-appName">接口名称<span class="has-error">*</span></div>
                      <input class="form-control"
                             type="text"
                             ng-model="apidetail.name">
                        <div class="app-push-appName">接口地址<span class="has-error">*</span></div>
                        <input class="form-control"
                               type="text"
                               ng-model="apidetail.requestUrl">
                         <div class="app-push-appName">请求类型<span class="has-error">*</span></div>
                         <select name="account" class="form-control" ng-model="apidetail.method">
                             <option value="0">GET</option>
                             <option value="1">POST</option>
                             <option value="2">PUT</option>
                             <option value="3">DELETE</option>
                         </select>
                         <div class="app-push-appName">接口鉴权</div>
                         <input class="form-control"
                                type="text"
                                ng-model="apidetail.auth">
                          <div class="app-push-appName">接口访问过期时间</div>
                          <input class="form-control"
                                 type="text"
                                 ng-model="apidetail.rateLimitTtl">
                           <div class="app-push-appName">接口限制次数</div>
                           <input class="form-control"
                                  type="text"
                                  ng-model="apidetail.rateLimitNum">
                          <div class="app-push-appName">接口缓存的key值</div>
                          <input class="form-control"
                                 type="text"
                                 ng-model="apidetail.cacheKey">
                           <div class="app-push-appName">接口缓存时间</div>
                           <input class="form-control"
                                  type="text"
                                  ng-model="apidetail.cacheTtl">
                            <div class="app-push-appName">接口描述</div>
                            <textarea class="form-control"
                                      rows="3"
                                      ng-model="apidetail.description">
                            </textarea>
                      <div class="app-push-save-btn" style="float:left; margin:20px 0 0 20px;">
                          <button  class="btn btn-lg btn-info btn-block "
                                   ng-disabled="form.$invalid"
                                   ng-click="updateApp()">修改应用</button>
                      </div>
                      <div class="app-push-save-btn " style="float:right;margin:20px 20px 0 0;">
                          <button  class="btn btn-lg btn-danger btn-block "
                                   ng-disabled="form.$invalid"
                                   ng-click="deleteApp()">删除应用</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="prompt-popup1" ng-if="popupshow1">
          <div class="popup-text">
            <div class="promptxt1">
                <p>提示<span class="glyphicon glyphicon-remove" style="float:right; margin:8px 12px 0 0;" ng-click="closePopup()"></span></p>
            </div>
            <div class="promptxt2">
                <p>您确定要修改该应用吗？</p>
            </div>
            <div class="promptxt3">
                  <div class="app-push-save-btn " style="float:right;margin:6px 20px 0 0; background:#ffffff;">
                      <button  class="btn  btn-danger btn-block "
                                ng-disabled="form.$invalid"
                                ng-click="okUpdate(apidetail)">确认修改</button>
                  </div>
                  <div class="app-push-save-btn " style="float:right;margin:6px 20px 0 0; background:#ffffff;">
                    <button  class="btn  btn-info btn-block "
                             ng-disabled="form.$invalid"
                             ng-click="noUpdate()">放弃修改</button>
                 </div>
           </div>
         </div>
      </div>
      <div class="prompt-popup2"ng-if="popupshow2">
          <div class="popup-text">
            <div class="promptxt1">
                <p>提示<span class="glyphicon glyphicon-remove" style="float:right; margin:8px 12px 0 0;" ng-click="closePopup()"></span></p>
            </div>
            <div class="promptxt2">
                <p>您确定要删除该应用吗？</p>
            </div>
            <div class="promptxt3">
                  <div class="app-push-save-btn " style="float:right;margin:6px 20px 0 0; background:#ffffff;">
                      <button  class="btn  btn-danger btn-block "
                                ng-disabled="form.$invalid"
                                ng-click="okDelete()">确认删除</button>
                  </div>
                  <div class="app-push-save-btn " style="float:right;margin:6px 20px 0 0; background:#ffffff;">
                    <button  class="btn  btn-info btn-block "
                             ng-disabled="form.$invalid"
                             ng-click="noDelete()">放弃删除</button>
                 </div>
           </div>
         </div>
      </div>
  </div>

    <!-- <div class="col w-lg lt host-detail">
        <div class="vbox">
            <div class="wrapper">
                <div class="app-box-push">
                    <a href="#/server/appList/{{apiDetail.parentAppkey}}"
                       class="btn btn-sm btn-danger btn-options pull-right">返回
                    </a>
                    <form name="formValidate" class="form-horizontal form-validation">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">接口名称:</label>
                                    <div class="col-sm-8">
                                         <span class="form-control">{{apiDetail.name}}</span>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">接口地址:</label>
                                    <div class="col-sm-8">
                                         <span class="form-control">{{apiDetail.requestUrl}}</span>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">接口鉴权:</label>
                                    <div class="col-sm-8">
                                         <span class="form-control">{{apiDetail.auth}}</span>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">接口描述:</label>
                                    <div class="col-sm-8">
                                         <span class="form-control">{{apiDetail.description}}</span>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">接口访问过期时间:</label>
                                    <div class="col-sm-8">
                                      <span class="form-control">{{apiDetail.rateLimitTtl}}</span>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">接口限制次数:</label>
                                    <div class="col-sm-8">
                                      <span class="form-control">{{apiDetail.rateLimitNum}}</span>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">接口缓存的key值:</label>
                                    <div class="col-sm-8">
                                      <span class="form-control">{{apiDetail.cacheKey}}</span>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">接口缓存时间:</label>
                                    <div class="col-sm-8">
                                      <span class="form-control">{{apiDetail.cacheTtl}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
</div>
