<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
      app.settings.asideFixed = true;
      app.settings.asideDock = false;
      app.settings.container = false;
      app.hideAside = false;
      app.hideFooter = true;"
     ng-controller="createApiCtrl">
    <div class="col w-lg lt">
        <div class="vbox">
            <div class="wrapper">
                <div class="app-box-push">
                    <a href="#/server/appList/{{appKey}}"
                       class="btn btn-sm btn-danger btn-options pull-right">返回
                    </a>
                    <form name="form" class="form-validation">
                        <div class="app-push-appName">接口名称
                            <span class="has-error">*</span>
                        </div>
                        <input class="form-control"
                               type="text"
                               placeholder="请输入接口名称"
                               ng-model="params.name"
                               required>
                        <div class="app-push-appName">接口地址
                            <span class="has-error">*</span>
                        </div>
                        <input class="form-control"
                               type="text"
                               placeholder="请输入接口地址"
                               ng-model="params.requestUrl"
                               required>
                        <div class="app-push-appName">请求类型
                            <span class="has-error">*</span>
                        </div>
                        <select name="account" class="form-control" ng-model="params.method">
                            <option value="0">GET</option>
                            <option value="1">POST</option>
                            <option value="2">PUT</option>
                            <option value="3">DELETE</option>
                        </select>
                        <div class="error">
                            <span ng-if="methodValidateMessage">*请求类型不能为空，请选择请求类型</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5">是否需要鉴权</label>
                            <div class="col-sm-7">
                                <label class="i-switch bg-info m-t-xs m-r">
                                    <input type="checkbox" ng-click="openAuth()">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5">是否为内置方法</label>
                            <div class="col-sm-7">
                                <label class="i-switch bg-info m-t-xs m-r">
                                    <input type="checkbox" ng-click="openBuildIn()">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5">是否需要图形验证码验证</label>
                            <div class="col-sm-7">
                                <label class="i-switch bg-info m-t-xs m-r">
                                    <input type="checkbox" ng-click="openCaptcha()">
                                    <i></i>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5">是否开启接口访问限制</label>
                            <div class="col-sm-7">
                                <label class="i-switch bg-info m-t-xs m-r">
                                    <input type="checkbox" ng-click="openExpire()">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <div ng-if="expireBtn">
                            <div class="app-push-appName">接口访问过期时间
                                <span class="has-error">*</span>
                            </div>
                            <input class="form-control"
                                   type="text"
                                   placeholder="请输入接口访问过期时间"
                                   ng-model="params.rateLimitTtl"
                                   required>
                            <div class="app-push-appName">接口限制次数
                                <span class="has-error">*</span>
                            </div>
                            <input class="form-control"
                                   type="text"
                                   placeholder="请输入接口限制次数"
                                   ng-model="params.rateLimitNum"
                                   required>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5">是否开启接口缓存</label>
                            <div class="col-sm-7">
                                <label class="i-switch bg-info m-t-xs m-r">
                                    <input type="checkbox" ng-click="openCache()">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <div ng-if="cacheBtn">
                            <div class="app-push-appName">接口缓存的key值
                                <span class="has-error">*</span>
                            </div>
                            <input class="form-control"
                                   type="text"
                                   placeholder="请输入接口缓存的key值"
                                   ng-model="params.cacheKey"
                                   required>
                            <div class="app-push-appName">接口缓存时间
                                <span class="has-error">*</span>
                            </div>
                            <input class="form-control"
                                   type="text"
                                   placeholder="请输入接口缓存时间"
                                   ng-model="params.cacheTtl"
                                   required>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5">是否添加接口描述</label>
                            <div class="col-sm-7">
                                <label class="i-switch bg-info m-t-xs m-r">
                                    <input type="checkbox" ng-click="openDescribe()">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <div ng-if="describeBtn">
                            <div class="app-push-appName">接口描述
                                <span class="has-error">*</span>
                            </div>
                            <textarea class="form-control"
                                      rows="3"
                                      placeholder="请输入接口描述"
                                      ng-model="params.description"
                                      required>
                            </textarea>
                        </div>

                        <div class="app-push-save-btn">
                            <button class="btn btn-lg btn-info btn-block"
                                    ng-disabled="form.$invalid"
                                    ng-click="createApi(params)">创建API
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <script type="text/ng-template" id="myModalContentSuccess.html">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">提示</span>
                <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="mod-line row">
                    <p class="text-center" style="font-size: 20px;">创建接口成功!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info pull-left" ng-click="ok()">继续新建接口</button>
                <button type="button" class="btn btn-default pull-right" ng-click="cancel()">回到接口列表</button>
            </div>
        </div>
    </script>
</div>
