<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  app = {
    platform: 0
  };"
     ng-controller="ServerListCtrl">
    <div class="bg-light lter b-b wrapper-md shrink">
        <h1 class="m-n font-thin h3 inline-h1">应用列表</h1>
        <div class="m-b float-right">
            <a ui-sref="server.add">
                <button type="button" class="btn btn-sm btn-primary btn-addon">
                    <i class="fa fa-plus"></i>新建应用
                </button>
            </a>
        </div>
    </div>
    <div class="col" style="display: block;">
        <div class="vbox">
            <div class="row-row">
                <div class="cell text-center" >
                    <div class="app-box">
                        <div class="row">
                            <!--已有app的情况-->
                            <form name="formApp" class="form-validation">
                                <div class="app-list" ng-repeat="item in appList">
                                    <!-- <div class="app-list-header">
                                        <div class="app-logo">
                                            <img src="{{item.avator}}" ng-if="item.avator">
                                            <img src="img/a10.jpg" ng-if="!item.avator">
                                        </div>
                                        <div class="app-name-head">
                                            <a href='#/server/server/apiList/{{item.appKey}}'>{{item.name}}</a>
                                        </div>
                                    </div> -->
                                    <div class="panel b-a">
                                        <div class="panel-heading text-center bg-info no-border">
                                          <h2 class="m-t-none">{{item.name}}
                                          </h2>
                                        </div>
                                        <ul class="list-group">
                                          <li class="list-group-item">
                                            <i class="icon-check text-success m-r-xs"></i> 应用代号：{{item.serial}}
                                          </li>
                                          <li class="list-group-item">
                                            <i class="icon-check text-success m-r-xs"></i> 主机组：{{item.hostGroup}}
                                          </li>
                                          <li class="list-group-item">
                                            <i class="icon-check text-success m-r-xs"></i> 应用描述：{{item.description}}
                                          </li>
                                        </ul>
                                        <div class="panel-footer text-center">
                                          <a href='#/server/appList/{{item.appKey}}' class="btn btn-info font-bold m">应用详情</a>
                                        </div>
                                    </div>
                                    <!-- <div class="app-list-body">
                                        <p>应用代号：{{item.serial}}</p>
                                        <p>主机组：{{item.hostGroup}}</p>
                                        <p>应用描述：{{item.description}}</p>
                                    </div> -->
                                </div>
                                <!-- <div class="row row-sm">
                                    <div class="app-list" ng-repeat="item in appList">
                                      <div class="panel b-a">
                                        <div class="panel-heading text-center bg-info no-border">
                                          <h2 class="m-t-none">{{item.name}}
                                          </h2>
                                        </div>
                                        <ul class="list-group">
                                          <li class="list-group-item">
                                            <i class="icon-check text-success m-r-xs"></i> 应用代号：{{item.serial}}
                                          </li>
                                          <li class="list-group-item">
                                            <i class="icon-check text-success m-r-xs"></i> 主机组：{{item.hostGroup}}
                                          </li>
                                          <li class="list-group-item">
                                            <i class="icon-check text-success m-r-xs"></i> 应用描述：{{item.description}}
                                          </li>
                                        </ul>
                                        <div class="panel-footer text-center">
                                          <a href='#/server/server/apiList/{{item.appKey}}' class="btn btn-info font-bold m">应用详情</a>
                                        </div>
                                      </div>
                                    </div> -->
                            </form>
                           <!-- <pagination total-items="totalItems" ng-model="currentPage" ng-click="pageChanged(currentPage)" class="m-t-none m-b pages" previous-text = '上一页' next-text="下一页"></pagination> -->
                        </div>
                    </div>
                    <pagination ng-if="pages" total-items="totalItems" ng-model="currentPage" ng-click="pageChanged(currentPage)" class="m-t-none m-b pages" previous-text = '上一页' next-text="下一页"></pagination>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->
</div>
