<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " 
      ng-init="app.settings.asideFixed = true;
              app.settings.asideDock = false;
              app.settings.container = false;
              app.hideAside = false;
              app.hideFooter = true;
              user = {
                role: 0
              };
              "
      ng-controller="createUserCtrl">
    <div class="col w-lg lt">
        <div class="vbox">
            <div class="wrapper">
                <div class="app-box-setting">
                    <form name="form" class="form-validation">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>邮箱</label>
                                    <input type="email" class="form-control" placeholder="Email" ng-model="user.email" required >
                                </div>
                                <div class="form-group">
                                  <label>登录名 <em class="text-muted">(allow 'a-zA-Z0-9', 4-10 length)</em></label>
                                  <input type="text" class="form-control" placeholder="Loginname" ng-model="user.loginName" ng-pattern="/^[a-zA-Z0-9]{4,10}$/" required >
                                </div>
                                <div class="form-group">
                                    <label>密码</label>
                                    <input type="password" class="form-control" placeholder="password" ng-model="user.password" required >
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>权限</label>
                                    </div>
                                    <label class="platform">
                                        <input type="radio" name="role" checked="apps.role" ng-model="user.role" value="0">普通用户
                                    </label>
                                    <label class="platform">
                                        <input type="radio" name="role" checked="apps.role" ng-model="user.role" value="8">管理员
                                    </label>
                                </div>
                                <div class="form-group">
                                  <label>用户名 <em class="text-muted">(allow 'a-zA-Z0-9', 4-10 length)</em></label>
                                  <input type="text" class="form-control" placeholder="Username" ng-model="user.name" required >
                                </div>
                                <div class="form-group">
                                    <label>手机号</label>
                                    <input type="tel" class="form-control" placeholder="Telephone" ng-model="user.mobile" ng-pattern="/^[1][3|4|5|7|8][0-9]{9}$/" required >
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="app-setting-save-btn" ng-click="saveUser(user)">保存</div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
</div>